<!-- <form action="client/products" method="post"> -->
  <%= form_tag "/client/products", method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Price: <input type="text" name="price">
  </div>
  <div>
    Description: <input type="text" name="description">

  <div>
    Supplier ID: <input type="text" name="supplier_id">

  <input type="submit" value="Create Product">
  
<% end %>
<!-- </form> -->