<h1> Your Cart </h1>

<% @carted_products.each do |carted_product| %>
<p>
  <%= carted_product["product"]["name"] %> -
  <%= carted_product["product"]["price"] %> x
  <%= carted_product["quantity"] %> -
  <a href="/client/carted_products/<%= carted_product['id'] %>" data-method="delete">Remove</a>
</p>

<% end %>

<a href="/client/orders" data-method="post">Create Order </a>
